<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Panda\Blog\Observer\LogPostDetailView">
        <plugin name="panda_blogextra_add_data_to_post_detail_observer" type="Panda\BlogExtra\Plugin\AddDataToPostDetailObserver"/>
        <plugin name="panda_blogextra_prevent_post_detail_logger" type="Panda\BlogExtra\Plugin\PreventPostDiteilLogger" disabled="true"/>
    </type>
    <type name="Panda\Blog\Controller\Post\Detail">
        <plugin name="panda_blogextra_alternate_post_detail_template" type="Panda\BlogExtra\Plugin\AlternatePostDetailTemplate"/>
    </type>

</config>
